* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

img {
    width: auto;
}

.about-block {
    font-family: 'Fraunces', serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 500px;
}

